node_modules
Dockerfile*
docker-compose*
compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
justfile
helm-charts
.env
.editorconfig
.idea
coverage*
.claude
docs
build
caddy_data
config
